@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
    background-color:rgba(255, 68, 0, 0.507);
}

.navbar {
    background-color: rgb(23, 23, 24);
}

.navbar-nav {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    
}

.logo {
    width: 200px;
    padding: 3px 3px;
    margin-left: 50px;
}
.carousel-item>img{
    object-fit: cover;
    width: 1930px;
    height: 300px;
    background-position: top;
}
.collapse {
    display: flex;
    justify-content: end;
    align-self: flex-end;
}
.nav-link{
    color: aliceblue;
}


.nav-btn {
    display: flex;
    justify-content: center;
    background-color: rgb(247, 74, 97);
    padding: 45px;
}

.nav-btn>a {
    text-decoration: none;

}

.button-home {
    font-size: xx-large;
    color: beige;
    cursor: pointer;
    transition: all 0.3s;
}

.button-home:hover {
    transform: scale(1.2);
    color: rgb(173, 166, 158);
}

a {
    text-decoration: none;
}

.btn-group {
    border-radius: 30px 30px;
    width: 120px;
    height: 50px;
}

.btn-group>label {
    font-size: medium;
    font-weight: bolder;
    color: rgb(31, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    width: 400px;
    height: 30px;
    padding: 30px;
}
main{
    flex-grow: 1;
    height: 100%;
}
.check-main {
    display: flex;
    margin-left:10px;

}

.checkSearch {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.details-body {
    background-color:rgba(255, 68, 0, 0.507);
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    margin: 30px;
    

}
.card{
    box-shadow: 1px 1px 2px rgb(63, 63, 63);
}

.card>img {
    object-fit: cover;
    width: 100%;
    height: 210px;
}


.card-body {

    background-color: rgb(190, 190, 190);

}
.card-body2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(190, 190, 190);
    border-radius: 0px 0px 10px 10px;
    padding: 30px;
}

.contact {
    padding: 30px;
}

.form-group {
    width: 600px;
    padding: 20px;
    border-color: rgb(247, 74, 97);
}

.form-group>label {
    font-weight: bold;
}

.card-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 81px;
   

}
.buttonsDetails{
    display: flex;
    gap:2rem;
}

.footer-amazing {
    background-color: rgb(190, 190, 190);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    
    
}

.footer-amazing>img {
    padding: 15px;
    width: 10%;
    height: 2%;

}

.footer-amazing>p {
    margin-top: 25px;

}


@media screen and (max-width:930px) {
    .check-main {
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        padding: 10px;
    }
    .checkSearch{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:760px) {
    .checkSearch{
        flex-wrap: wrap;
    }
    .check-main {
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        padding: 10px;
    }

    .navbar-toggler {
        margin: 30px;
    }

    .cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-amazing>img {
        width: 100px;
    }

    .form-group {
        width: 200px;
    }

}

.tables {
    padding: 30px;
    display: flex;
    justify-content: center;
}

table,
th,
tr,
td {
    border: 3px solid;
}

thead {
    background-color:rgb(173, 166, 158);
    color: black;
}

.tr-head {
    background-color: rgb(23, 23, 24);
    color:aliceblue;

}
.tableStats>td{
    background-color:rgb(247, 74, 97);
    color: black;
}
table {
    text-align: center;
}


.noSeEncontro{
    display: flex;
    padding: 8rem;
}



@media screen and (max-width:400px) {

    .check-main {
        flex-wrap: wrap;
        gap: 5px;
    }

    .input-group {
        align-self: center;
    }

    .btn-group {
        flex-wrap: wrap;
        align-items: center;

    }

    .navbar {
        flex-wrap: wrap;

    }

    .navbar-brand {
        width: 5%;
    }

    .cards {
        flex-wrap: wrap;
        justify-content: center
    }

    .footer-amazing>img {
        width: 100px;

    }

}